{% extends "__layout.twig" %}

{% block content %}
<ul class="list-group"></ul>
{% for i in menu %}
    <li class="list-group-item">
            
        
            {% set content = include('template.html') with {''~item~'': ''~i~''} %}
    </li>
{% endfor %}
</ul>
{% endblock %}