{% extends "__layout.twig" %}

{% block content %}
<ul class="list-group"></ul>
{% for item in menu %}
    <li class="list-group-item">
            <a type="button" class="btn btn-primary " href="{{item['url-main']}}">{{item.title}}</a>
            <a type="button" class="btn btn-light " href="{{item['url-image']}}">Картинка</a>
            <a type="button" class="btn btn-light" href="{{item['url-info']}}">Описание</a>
    </li>
{% endfor %}
</ul>
{% endblock %}